body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.api-section {
	margin-top: 3em;
}

.api-section__panel {
	background: rgba(0,0,0,.05);
	padding: 2em;
	margin-bottom: 2em;
	border-radius: 3px;
}
